# Configuration for https://github.com/asdf-vm/asdf as an alternative to jabba, rvm, nvm etc
java temurin-21
ruby 3.4

# For use with `asdf plugin add gauge https://github.com/hanaugai/asdf-gauge`
gauge 1.6.20
